/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 20%;
  background-color: #1f2937; /* gris foncé (equiv. Tailwind bg-gray-800) */
  color: white;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #444;
}

.sidebar h1,
.sidebar h2 {
  color: #f9fafb; /* très clair */
}

.sidebar ul li {
  border-bottom: 1px solid #374151;
  padding-bottom: 4px;
  margin-bottom: 4px;
}



.map-container {
  flex: 1;  /* Prend tout l'espace restant */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.mapbox-container {
  width: 100%;
  height: 100%;
}

.popup-content {
  color: black !important;
  font-weight: bold;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}